*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #EAE0DA;
}
.search-label{
    margin: 30px auto 0;
    display: block;
    overflow: visible;
    width: 90vw;
    border-radius: 30px;
}
.maindiv{
    display: flex;
    background-color: #EAC7C7;
    height: 50px;
    border-radius: 30px;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    transition: transform 0.3s ease-out;
    transform: scale(1);
}
.textbox{
    margin-left: 5px;
    width: 60vw;
}
.textbox:focus-visible{
    outline: none;
}
.textbox input{
    background: none;
    font-family: 'Roboto';
    font-size: 1.1rem;
    width: 100%;
    border:none;
    color: #574d4d;
}
.textbox input:focus-visible{
    outline: none;
}
.logobox {
    height: 50%;
}
.logobox img{
    height: 100%;
    filter: contrast(0.35);
}
.dropshadow{
    box-shadow: 0 2px 2px #897676bd;
    transition: transform 0.3s ease-out;
    transform: scale(1.02);
}
.list-items-container{
    height: 150px;
    min-width: 100px;
    background-color: #A0C3D2;
    text-align: center;
    border-radius: 15px;
}
ul{
    margin: 20px ;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-grow: 1;
}
li{
    list-style: none;
}
.img{
    margin-top: 10px;
    width: 80%;
    height: 75%;
    object-fit: cover;
    border-radius: 15px;
}
.hide{
    display: none !important; 
    visibility: hidden;
}
.author{
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
    justify-self: end;
    margin-bottom: 20px;
}

