*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    /* background-color: rgb(31, 24, 24); */
}
.search-label{
    margin: 30px auto 0;
    display: block;
    overflow: visible;
    width: 90vw;
    border-radius: 30px;
}
.maindiv{
    display: flex;
    background-color: #d3d3d3;
    height: 50px;
    border-radius: 30px;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    transition: transform 0.3s ease-out;
    transform: scale(1);
}
.textbox{
    margin-left: 5px;
    width: 60vw;
}
.textbox:focus-visible{
    outline: none;
}
.textbox input{
    background: none;
    font-family: 'Roboto';
    font-size: 1.1rem;
    width: 100%;
    border:none;
    color: #757575;
}
.textbox input:focus-visible{
    outline: none;
}
.logobox {
    height: 50%;
}
.logobox img{
    height: 100%;
    filter: contrast(0.35);
}
.dropshadow{
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-out;
    transform: scale(1.02);
}
.hide{
    display: none !important; 
    visibility: hidden;
}
.list-items-container{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e7e7;
    width: 80vw;
    margin: 20px auto;
    border-radius: 20px;
}
li{
    list-style: none;
    display: inherit;
}
.author{
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
    justify-self: end;
    margin-bottom: 20px;
}
